
    <div class="container p-1 shadow-sm position-relative">
        <img src="assets/img/team/1.jpg" width="100%" alt="">
        <div class="agent-detial">
            <div class="row m-0">
              <div class="col-lg-7 col-md-7 col-6">
                <div class="container p-0 py-1 fs-7">
                  <h5 class="fs-6 fw-bold m-0">John Smith</h5>
                    <div class="content-agent ">
                      <p class="m-0 pt-1 prog-text-color">  <i class="fa fa-location-dot text-danger"></i>
                        Toronto, On
                        </p>
                      <p class="p-0 mb-0 prog-text-color"><i class="fa fa-user text-black" aria-hidden="true"></i> Broker Agent</p>
                     
                    </div>
                  <div class="p-1 m-0">
                    <i class="fa fa-star text-warning " aria-hidden="true"></i>
                    <i class="fa fa-star text-warning" aria-hidden="true"></i>
                    <i class="fa fa-star text-warning" aria-hidden="true"></i>
                    <i class="fa fa-star text-warning" aria-hidden="true"></i>
                    <i class="fa fa-star text-warning" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 col-md-5 col-6 p-0">
                <div class="btn-contact-agent h-100  ">
                  <a href="#" class="text-light nav-link fw-bold py-4"> Contact</a>
                </div>
              </div>
            </div>
        </div>
    </div>