<div class="col-12">
    <div class="comment-user">
      <img src="/assets/img/team/1.jpg" alt="">
      <h2 class="fs-6 fw-bold dark-blue-color mt-2">
        Tom calany
      </h2>
    <div class="row m-0 p-0 mt-2">
      <div class="col-6 p-0">
        <div class="star px-2 text-warning  fs-7">
          <i class="fa fa-star text-warning " aria-hidden="true"></i>
          <i class="fa fa-star text-warning " aria-hidden="true"></i>
          <i class="fa fa-star text-warning " aria-hidden="true"></i>
          <i class="fa fa-star-half-stroke text-warning " aria-hidden="true"></i>
          <i class="fa fa-star star-null " aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-6 fs-7 text-end text-secondary">May, 1, 2023</div>
    </div>
      <p class="fs-7 px-2 text-secondary">
        Massa tempor nec feugiat nisl pretium. Egestas fringilla 
        phasellus faucibus scelerisque eleifend donec Porta nibh
        venenatis cras sed felis eget velit aliquet. Neque volutpat
          ac tincidunt vitae semper quis lectus. Turpis in eu mi 
      </p>
    </div>
  </div>