<div class="col-xl-2 col-md-3 col-6">
    <div class="container p-1 position-relative">
        <img class ='border-r-50' src="assets/img/team/8.jpg" width="100%" alt="">
        <div class="agent-detial shadow-sm">
            <div class="row m-0">
              <div class="col-12">
                <div class="container p-0 py-1 fs-7">
                  <h5 class="fs-6 fw-bold m-0">John Smith</h5>
                    <div class="content-agent ">
                      <p class="m-0 pt-1 prog-text-color ">  <i class="fa fa-location-dot text-danger"></i>
                        Toronto, On
                        </p>
                      <p class="p-0 mb-0 prog-text-color"><i class="fa fa-user text-black" aria-hidden="true"></i> Broker Agent</p>
                     
                    </div>
                  <div class="p-1 m-0">
                    <i class="fa fa-star text-warning " aria-hidden="true"></i>
                    <i class="fa fa-star text-warning" aria-hidden="true"></i>
                    <i class="fa fa-star text-warning" aria-hidden="true"></i>
                    <i class="fa fa-star text-warning" aria-hidden="true"></i>
                    <i class="fa fa-star text-warning" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="col-12 p-2 w-100">
                <div class="btn btn-dark dark-blue-bg w-100 py-0">
                  <a href="#" class="text-light nav-link fw-bold py-2"> Contact</a>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>