<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
    <div class="card w-100 position-relative shadow-lg" >
     <a href ='/template/productdetial.html'><img src="assets/img/products/ian-macdonald--dcznEJPmsk-unsplash.jpg" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <div class="left-top fs-6 bg-warning text-light px-2 py-0 ">
            Featured
          </div>
          <div class="right-top border-r-50">
            <img src="assets/img/team/1.jpg" width="100%" alt="">
          </div>
          <div class="detials p-2 pt-0 ">
            <h4 class=" fs-5 fw-bold dark-blue-color">For Sale</h4>
            <h5 class="fs-6 pt-1 fw-bold dark-blue-color">New apartment nice view</h5>
            <p class="fw-bold pb-0"><i class="fa fa-location-dot  me-2 text-danger"></i><span class="text-secondary">Toranto Ontoria</span></p>
            <div class="row m-0 p-0 text-start">
                <div class="col px-2">
                    <p class="fs-7"><span class="fw-bolder me-2">2</span> <span class="text-secondary">Bedroom</span></p>
                </div>
                <div class="col px-2">
                    <p class="fs-7"><span class="fw-bolder me-2">2</span><span class="text-secondary">Bathroom</span></p>
                </div>
                <div class="col px-2">
                    <p class="fs-7"><span class="fw-bolder me-2">2345</span><span class="text-secondary">Squre ft</span></p>
                </div>
                
            </div>
            <div class="row m-0 mb-2">
                <div class="col-1 m-1 b-black-5 text-center pt-2 fs-5" style="width: 40px; height: 40px;" title="sdf"><a href="#"><i class="fa fa-expand text-secondary"></i></a></div>
                <div class="col-1 m-1 b-black-5 text-center pt-2 fs-5" style="width: 40px; height: 40px;"><a href="#"><i class="fa fa-heart  text-secondary"></i></a></div>
                <div class="col-1 m-1 b-black-5 text-center pt-2 fs-5" style="width: 40px; height: 40px;"><a href="#"><i class="fa fa-plus-circle text-secondary"></i></a></div>
              
            </div>
            <h2 class="fs-5 pt-3 fw-bold m-1 dark-blue-color">2,345$</h2>
            
           </div> 
        </div>
    </div>
  </div>