<div class=" dark-blue-bg p-3 mb-5dark-blue-color">
        
        <form class="" method="get">
              <div class=" ">
                <div class="row m-0 w-100">
                  <div class="col-lg-3 col-md-3 col-sm-12  p-1">
                    <select class="form-select form-select" aria-label=".form-select example">
                      
                      <option selected value="1">Toronto, On</option>
                      <option value="2">Mississega</option>
                      <option value="3">Oshawa</option>
                      <option value="1">Toronto, On</option>
                      <option value="2">Mississega</option>
                      <option value="3">Oshawa</option>
                      <option value="1">Toronto, On</option>
                      <option value="2">Mississega</option>
                      <option value="3">Oshawa</option>
                      <option value="1">Toronto, On</option>
                      <option value="2">Mississega</option>
                      <option value="3">Oshawa</option>
                      <option value="1">Toronto, On</option>
                      <option value="2">Mississega</option>
                      <option value="3">Oshawa</option>
                    </select> 
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-12  p-1">
                    <select class="form-select form-select" aria-label=".form-select example">
                      <option selected>Price sort</option>
                      <option value="1">Low to high price</option>
                      <option value="2">High to low price</option>
                      <option value="3">default</option>
                    </select> 
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-12  p-1">
                    <select class="form-select form-select" aria-label=".form-select example">
                      <option selected>Area Sort</option>
                      <option value="1">Low to high</option>
                      <option value="2">High to low</option>
                      <option value="3">Default</option>
                    </select> 
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-12  p-1">
                    <select class="form-select form-select" aria-label=".form-select example">
                      <option selected>Type</option>
                      <option value="1">Room</option>
                      <option value="2">Home</option>
                      <option value="3">Condo</option>
                      <option value="3">Apartment</option>
                      <option value="3">Land</option>
                    </select> 
                  </div>
                
                  <div class="col-lg-2 col-md-2 col-sm-12  p-1">
                    <button type="button" class="btn btn-info light-blue-bg text-light bg-opacity-10 w-100">Search</button> 
                  </div>
                  
                </div>
              </div>
          </form>
      </div>