
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'base/nav.html' %}
{% include 'base/scrolled-up.html' %}
<div class="body m-0">
        <div class="head-title text-center py-5 mt-5">
            <h1 class="fs-2 fw-bold  dark-blue-color">
              Product Detial
            </h1>
            <span></span>
        </div>
            <div class="row m-0">
                <div class="col-12 m-0  pb-5 w-100">
                  <ul class="slides">
                    <input type="radio" name="radio-btn" id="img-1" checked />
                    <li class="slide-container">
                    <div class="slide">
                      <img src="/assets/img/products/aubrey-odom-ITzfgP77DTg-unsplash.jpg" />
                        </div>
                    <div class="nav">
                      <label for="img-6" class="prev">&#x2039;</label>
                      <label for="img-2" class="next">&#x203a;</label>
                    </div>
                    </li>
                
                    <input type="radio" name="radio-btn" id="img-2" />
                    <li class="slide-container">
                        <div class="slide">
                          <img src="/assets/img/products/brian-babb-XbwHrt87mQ0-unsplash.jpg" />
                        </div>
                    <div class="nav">
                      <label for="img-1" class="prev">&#x2039;</label>
                      <label for="img-3" class="next">&#x203a;</label>
                    </div>
                    </li>
                
                    <input type="radio" name="radio-btn" id="img-3" />
                    <li class="slide-container">
                        <div class="slide">
                          <img src="/assets/img/products/chastity-cortijo-R-w5Q-4Mqm0-unsplash.jpg" />
                        </div>
                    <div class="nav">
                      <label for="img-2" class="prev">&#x2039;</label>
                      <label for="img-4" class="next">&#x203a;</label>
                    </div>
                    </li>
                
                    <input type="radio" name="radio-btn" id="img-4" />
                    <li class="slide-container">
                        <div class="slide">
                          <img src="/assets/img/products/francesca-tosolini-tHkJAMcO3QE-unsplash.jpg" />
                        </div>
                    <div class="nav">
                      <label for="img-3" class="prev">&#x2039;</label>
                      <label for="img-5" class="next">&#x203a;</label>
                    </div>
                    </li>
                
                    <input type="radio" name="radio-btn" id="img-5" />
                    <li class="slide-container">
                        <div class="slide">
                          <img src="/assets/img/products/francesca-tosolini-tHkJAMcO3QE-unsplash.jpg" />
                        </div>
                    <div class="nav">
                      <label for="img-4" class="prev">&#x2039;</label>
                      <label for="img-6" class="next">&#x203a;</label>
                    </div>
                    </li>
                
                    <input type="radio" name="radio-btn" id="img-6" />
                    <li class="slide-container">
                        <div class="slide">
                          <img src="/assets/img/products/francesca-tosolini-tHkJAMcO3QE-unsplash.jpg" />
                        </div>
                    <div class="nav">
                      <label for="img-5" class="prev">&#x2039;</label>
                      <label for="img-1" class="next">&#x203a;</label>
                    </div>
                    </li>
                
                    <li class="nav-dots">
                      <label for="img-1" class="nav-dot" id="img-dot-1"></label>
                      <label for="img-2" class="nav-dot" id="img-dot-2"></label>
                      <label for="img-3" class="nav-dot" id="img-dot-3"></label>
                      <label for="img-4" class="nav-dot" id="img-dot-4"></label>
                      <label for="img-5" class="nav-dot" id="img-dot-5"></label>
                      <label for="img-6" class="nav-dot" id="img-dot-6"></label>
                    </li>
                </ul>
                </div>
                <div class="col-12 m-0">
                  <div class=" sec-m border-top pt-3">
                      <div class="row m-0">
                        <div class="col-lg-8 col-md-12 col-sm">
                            <div class="row text-center m-0">
                              <div class="col-lg-3 col-md-3 col-6 p-2">
                                <div class="w-100 p-1 fs-7 text-white  dark-blue-bg fs-5">For Rent</div>
                              </div>
                             
                              <div class="col-lg-3 col-md-3 col-6 p-2">
                                <div class="w-100 p-1 fs-5 text-white  light-blue-bg ">Featured</div>
                              </div>
                             
                              <div class="col-lg-3 col-md-3 col-6 p-3 text-secondary fs-7">
                                <i class="fa fa-comment text-dark px-1" aria-hidden="true"></i> 23 comment
                              </div>
                               <div class="col-lg-3 col-md-3 col-6 p-3 text-secondary fs-7">
                                <i class="fa fa-calendar px-1 text-dark" aria-hidden="true"></i> May, 2, 2023
                              </div>
                             
                        </div>
                        
                      </div>
                        <div class="col-lg-8 col-md-12 col-sm-12 p-3">
                            <h1 class="fs-3 fw-bold mt-3 ">New Apartment Nice view</h1>
                            <div class="loc fs-5 fw-semibold mb-5">
                              <i class="fa fa-location-dot px-2 text-danger" aria-hidden="true"></i><span>Toronto, On</span>
                            </div>
                          <div class="discrp p-2 shadow">
                            <h2 class="fs-4 fw-bold py-1 px-4 br-left mb-4"> Discription</h2>
                            <p class="fs-6 px-4 text-secondary">
                              Massa tempor nec feugiat nisl pretium. Egestas fringilla 
                              phasellus faucibus scelerisque eleifend donec Porta nibh
                              venenatis cras sed felis eget velit aliquet. Neque volutpat
                                ac tincidunt vitae semper quis lectus. Turpis in eu mi bibendum
                                neque egestas congue quisque. Sed elementum tempus egestas sed 
                                sed risus pretium quam. Dignissim sodales ut eu sem. Nibh mauris 
                                cursus mattis molestee iaculis at erat pellentesque. Id interdum 
                                velit laoreet id donec ultrices tincidunt. To the left is the modern
                                  kitchen with central island, leading through to the unique breakfast family room which feature
                              glass walls and doors out onto the garden and access to the separate utility room.
                            </p>
                          </div>
                          <div class="Propertydetial mt-5 p-2 shadow-sm">
                            <h2 class="fs-4 fw-bold py-1 px-4 br-left mb-5"> Property Detial</h2>
                            <div class="row m-0">

                              <div class="col-lg-6 col-md-6 col-sm">
                                <div class="row m-0">
                                  <div class="col-6 p-1">
                                    <p class="fs-6 fw-semibold text-secondary">Property Id <span>:</span></p>
                                  </div>
                                  <div class="col-6 p-1"> 
                                    <p class="fs-6 dark-blue-color"> Mu0001 </p> 
                                  </div>
                                  <div class="col-6 p-1">
                                    <p class="fs-6 fw-semibold text-secondary">Room<span>:</span></p>
                                  </div>
                                  <div class="col-6 p-1"> 
                                    <p class="fs-6 dark-blue-color"> 4</p> 
                                  </div>
                                  <div class="col-6 p-1">
                                    <p class="fs-6 fw-semibold text-secondary">Bedroom <span>:</span></p>
                                  </div>
                                  <div class="col-6 p-1"> 
                                    <p class="fs-6 dark-blue-color">2 </p> 
                                  </div>
                                  <div class="col-6 p-1">
                                    <p class="fs-6 fw-semibold text-secondary">Bathroom <span>:</span></p>
                                  </div>
                                  <div class="col-6 p-1"> 
                                    <p class="fs-6 dark-blue-color"> 2 </p> 
                                  </div>
                                  <div class="col-6 p-1">
                                    <p class="fs-6 fw-semibold text-secondary">Grauge <span>:</span></p>
                                  </div>
                                  <div class="col-6 p-1"> 
                                    <p class="fs-6 dark-blue-color"> 1 </p> 
                                  </div>
                                  <div class="col-6 p-1">
                                    <p class="fs-6 fw-semibold text-secondary">Floor <span>:</span></p>
                                  </div>
                                  <div class="col-6 p-1"> 
                                    <p class="fs-6 dark-blue-color"> 2 </p> 
                                  </div>
                                </div>
                              </div>
                              
                              <div class="col-lg-6 col-md-6 col-sm">
                                <div class="row m-0">
                                  <div class="col-6 p-1">
                                    <p class="fs-6 fw-semibold text-secondary">Status <span>:</span></p>
                                  </div>
                                  <div class="col-6 p-1"> 
                                    <p class="fs-6 dark-blue-color"> For Rent </p> 
                                  </div>
                                  <div class="col-6 p-1">
                                    <p class="fs-6 fw-semibold text-secondary">Lot area <span>:</span></p>
                                  </div>
                                  <div class="col-6 p-1"> 
                                    <p class="fs-6 dark-blue-color"> 300 <span>sqrft</span> </p> 
                                  </div>
                                  <div class="col-6 p-1">
                                    <p class="fs-6 fw-semibold text-secondary">building Area<span>:</span></p>
                                  </div>

                                  
                                  <div class="col-6 p-1"> 
                                    <p class="fs-6 dark-blue-color">234 <span>sqrft</span></p> 
                                  </div>
                                
                                  <div class="col-6 p-1">
                                    <p class="fs-6 fw-semibold text-secondary">Build Year <span>:</span></p>
                                  </div>
                                  <div class="col-6 p-1"> 
                                    <p class="fs-6 dark-blue-color"> 1998 </p> 
                                  </div>
                                  <div class="col-6 p-1">
                                    <p class="fs-6 fw-semibold text-secondary">Price <span>:</span></p>
                                  </div>
                                  <div class="col-6 p-1"> 
                                    <p class="fs-6 dark-blue-color"> 35,500 <span> <i class="fa fa-dollar" aria-hidden="true"></i></span></p> 
                                  </div>
                              
                                </div>
                              </div>

                            </div>
                          </div>
                          <div class="Animaties mt-5 p-2 shadow-sm">
                            <h2 class="fs-4 fw-bold py-1 px-4 br-left mb-5 "> Animaties</h2>
                            <div class="row m-0">
                              
                              <div class="col-xl-4 col-md-6 col-sm-12">
                                <div class="fs-6 fw-semibold p-2 text-secondary">
                                  <i class="fa fa-toggle-off px-2 " aria-hidden="true"></i> 
                                  <span>Air Condision</span>
                                </div>
                              </div>
                              <div class="col-xl-4 col-md-6 col-sm-12">
                                <div class="fs-6 fw-semibold p-2 text-secondary">
                                  <i class="fa fa-toggle-off px-2 " aria-hidden="true"></i> 
                                  <span></span>
                                </div>
                              </div>
                              <div class="col-xl-4 col-md-6 col-sm-12">
                                <div class="fs-6 fw-semibold p-2 text-secondary">
                                  <i class="fa fa-toggle-on px-2 light-blue-cl" aria-hidden="true"></i> 
                                  <span>Wifi</span>
                                </div>
                              </div>
                              <div class="col-xl-4 col-md-6 col-sm-12">
                                <div class="fs-6 fw-semibold p-2 text-secondary">
                                  <i class="fa fa-toggle-on px-2 light-blue-cl" aria-hidden="true"></i> 
                                  <span>Parking</span>
                                </div>
                              </div>
                              <div class="col-xl-4 col-md-6 col-sm-12">
                                <div class="fs-6 fw-semibold p-2 text-secondary">
                                  <i class="fa fa-toggle-on px-2 light-blue-cl" aria-hidden="true"></i> 
                                  <span>Swimming Pool</span>
                                </div>
                              </div>
                              <div class="col-xl-4 col-md-6 col-sm-12">
                                <div class="fs-6 fw-semibold p-2 text-secondary">
                                  <i class="fa fa-toggle-on px-2 light-blue-cl" aria-hidden="true"></i> 
                                  <span>Yard</span>
                                </div>
                              </div>
                              <div class="col-xl-4 col-md-6 col-sm-12">
                                <div class="fs-6 fw-semibold p-2 text-secondary">
                                  <i class="fa fa-toggle-on px-2 light-blue-cl" aria-hidden="true"></i> 
                                  <span>Referagerator</span>
                                </div>
                              </div>
                              <div class="col-xl-4 col-md-6 col-sm-12">
                                <div class="fs-6 fw-semibold p-2 text-secondary">
                                  <i class="fa fa-toggle-on px-2 light-blue-cl" aria-hidden="true"></i> 
                                  <span>Gym</span>
                                </div>
                              </div>
                              <div class="col-xl-4 col-md-6 col-sm-12">
                                <div class="fs-6 fw-semibold p-2 text-secondary">
                                  <i class="fa fa-toggle-on px-2 light-blue-cl" aria-hidden="true"></i> 
                                  <span>Air Condision</span>
                                </div>
                              </div>
                              <div class="col-xl-4 col-md-6 col-sm-12">
                                <div class="fs-6 fw-semibold p-2 text-secondary">
                                  <i class="fa fa-toggle-on px-2 light-blue-cl" aria-hidden="true"></i> 
                                  <span>Air Condision</span>
                                </div>
                              </div>
                              <div class="col-xl-4 col-md-6 col-sm-12">
                                <div class="fs-6 fw-semibold p-2 text-secondary">
                                  <i class="fa fa-toggle-on px-2 light-blue-cl" aria-hidden="true"></i> 
                                  <span>Air Condision</span>
                                </div>
                              </div>
                                <div class="col-xl-4 col-md-6 col-sm-12">
                                <div class="fs-6 fw-semibold p-2 text-secondary">
                                  <i class="fa fa-toggle-on px-2 light-blue-cl" aria-hidden="true"></i> 
                                  <span>Air Condision</span>
                                </div>
                              </div>
                              <div class="col-xl-4 col-md-6 col-sm-12">
                                <div class="fs-6 fw-semibold p-2 text-secondary">
                                  <i class="fa fa-toggle-off px-2 " aria-hidden="true"></i> 
                                  <span>Air Condision</span>
                                </div>
                              </div>
                              <div class="col-xl-4 col-md-6 col-sm-12">
                                <div class="fs-6 fw-semibold p-2 text-secondary">
                                  <i class="fa fa-toggle-off px-2 " aria-hidden="true"></i> 
                                  <span>Air Condision</span>
                                </div>
                              </div>
                              <div class="col-xl-4 col-md-6 col-sm-12">
                                <div class="fs-6 fw-semibold p-2 text-secondary">
                                  <i class="fa fa-toggle-off px-2 " aria-hidden="true"></i> 
                                  <span>Air Condision</span>
                                </div>
                              </div>
                              
                            </div>
                        

                          </div>
                          <div class="Galary my-5 p-2 shadow-sm ">
                            <h2 class="fs-4 fw-bold py-1 px-4 br-left mb-5 "> Galary</h2>
                            <div class="row m-0">
                              <div class="col-lg-12 col-md-12 col-sm-12 m-0 p-1">
                                <img src="/assets/img/products/etienne-beauregard-riverin-B0aCvAVSX8E-unsplash.jpg" alt="" class="galary-img ">
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12 m-0 p-1">
                                <img src="/assets/img/products/avi-werde-hHz4yrvxwlA-unsplash.jpg" alt="" class="galary-img">
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12 m-0 p-1">
                                <img src="/assets/img/products/brian-babb-XbwHrt87mQ0-unsplash.jpg" alt="" class="w-100 ">
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12 m-0 p-1">
                                <img src="/assets/img/products/brian-babb-XbwHrt87mQ0-unsplash.jpg" alt="" class="w-100 ">
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-12 m-0 p-1">
                                <img src="/assets/img/products/brian-babb-XbwHrt87mQ0-unsplash.jpg" alt="" class="w-100 ">
                              </div>
                              
                            </div>
                          </div>
                            
                          <div class="location-map my-5 p-2 shadow-sm">
                            <h2 class="fs-4 fw-bold py-1 px-4 br-left mb-5 "> location</h2>
                            <div class="row m-0 mt-3">
                              <div class="col-12">
                                  <div class="w-100">
                                    <iframe src="https://www.google.com/maps?q=toronto&amp;z=9&amp;output=embed" class="w-100" style="height:20em;" allowfullscreen="allowfullscreen"></iframe>
                                  </div>
                              </div>
                              <div class="col-12">
                                <div class="row m-0">
                                    
                                    <div class="col-12 m-0">
                                      <label for="distanceform text-dark"> <i class="fa fa-location-dot text-danger" aria-hidden="true"></i> Distance</label>
                                      <form id="distanceform" class="d-flex  " role="search" action="">
                                        <input id="distanceinput" class="form-control  me-2 bg-light fs-7 search-input p-1" type="search" placeholder="Location" aria-label="Search">
                                            
                                            <button id="distance" class="btn btn-outline-light dark-blue-bg p-1 px-2" type="submit">Search</button> 
                                      </form>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                          <div class="comment my-5 p-2 shadow-sm">
                            <h2 class="fs-4 fw-bold py-1 px-4 br-left mb-2 "> Users view</h2>
                            <div class="star px-4 text-warning mb-5">
                              <i class="fa fa-star text-warning " aria-hidden="true"></i>
                              <i class="fa fa-star text-warning " aria-hidden="true"></i>
                              <i class="fa fa-star text-warning " aria-hidden="true"></i>
                              <i class="fa fa-star-half-stroke text-warning " aria-hidden="true"></i>
                              <i class="fa fa-star star-null " aria-hidden="true"></i>
                              ( <span>32</span> views )
                            </div>
                            <div class="comment-view">
                              <div class="row m-0">
                                <div class="col-12">
                                  <div class="comment-user">
                                    <img src="/assets/img/team/1.jpg" alt="">
                                    <h2 class="fs-6 fw-bold dark-blue-color mt-2">
                                      Tom calany
                                    </h2>
                                  <div class="row m-0 p-0 mt-2">
                                    <div class="col-6 p-0">
                                      <div class="star px-2 text-warning  fs-7">
                                        <i class="fa fa-star text-warning " aria-hidden="true"></i>
                                        <i class="fa fa-star text-warning " aria-hidden="true"></i>
                                        <i class="fa fa-star text-warning " aria-hidden="true"></i>
                                        <i class="fa fa-star-half-stroke text-warning " aria-hidden="true"></i>
                                        <i class="fa fa-star star-null " aria-hidden="true"></i>
                                      </div>
                                    </div>
                                    <div class="col-6 fs-7 text-end text-secondary">May, 1, 2023</div>
                                  </div>
                                    <p class="fs-7 px-2 text-secondary">
                                      Massa tempor nec feugiat nisl pretium. Egestas fringilla 
                                      phasellus faucibus scelerisque eleifend donec Porta nibh
                                      venenatis cras sed felis eget velit aliquet. Neque volutpat
                                        ac tincidunt vitae semper quis lectus. Turpis in eu mi 
                                    </p>
                                  </div>
                                </div>
                                <div class="col-12">
                                  <div class="comment-user">
                                    <img src="/assets/img/team/1.jpg" alt="">
                                    <h2 class="fs-6 fw-bold dark-blue-color mt-2">
                                      Tom calany
                                    </h2>
                                  <div class="row m-0 p-0 mt-2">
                                    <div class="col-6 p-0">
                                      <div class="star px-2 text-warning  fs-7">
                                        <i class="fa fa-star text-warning " aria-hidden="true"></i>
                                        <i class="fa fa-star text-warning " aria-hidden="true"></i>
                                        <i class="fa fa-star text-warning " aria-hidden="true"></i>
                                        <i class="fa fa-star-half-stroke text-warning " aria-hidden="true"></i>
                                        <i class="fa fa-star star-null " aria-hidden="true"></i>
                                      </div>
                                    </div>
                                    <div class="col-6 fs-7 text-end text-secondary">May, 1, 2023</div>
                                  </div>
                                    <p class="fs-7 px-2 text-secondary">
                                      Massa tempor nec feugiat nisl pretium. Egestas fringilla 
                                      phasellus faucibus scelerisque eleifend donec Porta nibh
                                      venenatis cras sed felis eget velit aliquet. Neque volutpat
                                        ac tincidunt vitae semper quis lectus. Turpis in eu mi 
                                    </p>
                                  </div>
                                </div>
                                <div class="col-12">
                                  <div class="comment-user">
                                    <img src="/assets/img/team/1.jpg" alt="">
                                    <h2 class="fs-6 fw-bold dark-blue-color mt-2">
                                      Tom calany
                                    </h2>
                                  <div class="row m-0 p-0 mt-2">
                                    <div class="col-6 p-0">
                                      <div class="star px-2 text-warning  fs-7">
                                        <i class="fa fa-star text-warning " aria-hidden="true"></i>
                                        <i class="fa fa-star text-warning " aria-hidden="true"></i>
                                        <i class="fa fa-star text-warning " aria-hidden="true"></i>
                                        <i class="fa fa-star-half-stroke text-warning " aria-hidden="true"></i>
                                        <i class="fa fa-star star-null " aria-hidden="true"></i>
                                      </div>
                                    </div>
                                    <div class="col-6 fs-7 text-end text-secondary">May, 1, 2023</div>
                                  </div>
                                    <p class="fs-7 px-2 text-secondary">
                                      Massa tempor nec feugiat nisl pretium. Egestas fringilla 
                                      phasellus faucibus scelerisque eleifend donec Porta nibh
                                      venenatis cras sed felis eget velit aliquet. Neque volutpat
                                        ac tincidunt vitae semper quis lectus. Turpis in eu mi 
                                    </p>
                                  </div>
                                </div>
                                <div class="col-12">
                                  <div class="comment-user">
                                    <img src="/assets/img/team/1.jpg" alt="">
                                    <h2 class="fs-6 fw-bold dark-blue-color mt-2">
                                      Tom calany
                                    </h2>
                                  <div class="row m-0 p-0 mt-2">
                                    <div class="col-6 p-0">
                                      <div class="star px-2 text-warning  fs-7">
                                        <i class="fa fa-star text-warning " aria-hidden="true"></i>
                                        <i class="fa fa-star text-warning " aria-hidden="true"></i>
                                        <i class="fa fa-star text-warning " aria-hidden="true"></i>
                                        <i class="fa fa-star-half-stroke text-warning " aria-hidden="true"></i>
                                        <i class="fa fa-star star-null " aria-hidden="true"></i>
                                      </div>
                                    </div>
                                    <div class="col-6 fs-7 text-end text-secondary">May, 1, 2023</div>
                                  </div>
                                    <p class="fs-7 px-2 text-secondary">
                                      Massa tempor nec feugiat nisl pretium. Egestas fringilla 
                                      phasellus faucibus scelerisque eleifend donec Porta nibh
                                      venenatis cras sed felis eget velit aliquet. Neque volutpat
                                        ac tincidunt vitae semper quis lectus. Turpis in eu mi 
                                    </p>
                                  </div>
                                </div>
                                <div class="col-12">
                                  <div class="comment-user">
                                    <img src="/assets/img/team/1.jpg" alt="">
                                    <h2 class="fs-6 fw-bold dark-blue-color mt-2">
                                      Tom calany
                                    </h2>
                                  <div class="row m-0 p-0 mt-2">
                                    <div class="col-6 p-0">
                                      <div class="star px-2 text-warning  fs-7">
                                        <i class="fa fa-star text-warning " aria-hidden="true"></i>
                                        <i class="fa fa-star text-warning " aria-hidden="true"></i>
                                        <i class="fa fa-star text-warning " aria-hidden="true"></i>
                                        <i class="fa fa-star-half-stroke text-warning " aria-hidden="true"></i>
                                        <i class="fa fa-star star-null " aria-hidden="true"></i>
                                      </div>
                                    </div>
                                    <div class="col-6 fs-7 text-end text-secondary">May, 1, 2023</div>
                                  </div>
                                    <p class="fs-7 px-2 text-secondary">
                                      Massa tempor nec feugiat nisl pretium. Egestas fringilla 
                                      phasellus faucibus scelerisque eleifend donec Porta nibh
                                      venenatis cras sed felis eget velit aliquet. Neque volutpat
                                        ac tincidunt vitae semper quis lectus. Turpis in eu mi 
                                    </p>
                                  </div>
                                </div>
                                <div class="col-12">
                                  <div class="comment-user">
                                    <img src="/assets/img/team/1.jpg" alt="">
                                    <h2 class="fs-6 fw-bold dark-blue-color mt-2">
                                      Tom calany
                                    </h2>
                                  <div class="row m-0 p-0 mt-2">
                                    <div class="col-6 p-0">
                                      <div class="star px-2 text-warning  fs-7">
                                        <i class="fa fa-star text-warning " aria-hidden="true"></i>
                                        <i class="fa fa-star text-warning " aria-hidden="true"></i>
                                        <i class="fa fa-star text-warning " aria-hidden="true"></i>
                                        <i class="fa fa-star-half-stroke text-warning " aria-hidden="true"></i>
                                        <i class="fa fa-star star-null " aria-hidden="true"></i>
                                      </div>
                                    </div>
                                    <div class="col-6 fs-7 text-end text-secondary">May, 1, 2023</div>
                                  </div>
                                    <p class="fs-7 px-2 text-secondary">
                                      Massa tempor nec feugiat nisl pretium. Egestas fringilla 
                                      phasellus faucibus scelerisque eleifend donec Porta nibh
                                      venenatis cras sed felis eget velit aliquet. Neque volutpat
                                        ac tincidunt vitae semper quis lectus. Turpis in eu mi 
                                    </p>
                                  </div>
                                </div>
                          
                              
                                
                              </div>
                            </div>
                          </div>

                          
                          <div class="comment-add my-5 p-2 shadow">
                            <h2 class="fs-4 fw-bold py-1 px-4 br-left mb-2 "> Add View</h2>
                            <form class="p-3">
                              <div class="mb-3">
                                <label for="comment" class="form-label fw-bold dark-blue-color">Comment:</label>
                                <textarea id="comment" name="comment" class="form-control" placeholder="Your Comment" rows="4"></textarea>
                              </div>
                              <div class="mb-3">
                                <label for="rating" class="form-label fw-bold dark-blue-color">Rating:</label>
                                <div class="rating-input">
                                  <input type="radio" id="star5" name="rating" value="5" onclick="rate(5)">
                                  <label for="star5"><i class="fa fa-star fs-5" aria-hidden="true"></i> </label>
                                  <input type="radio" id="star4" name="rating" value="4" onclick="rate(4)">
                                  <label for="star4"><i class="fa fa-star fs-5" aria-hidden="true"></i></label>
                                  <input type="radio" id="star3" name="rating" value="3" onclick="rate(3)">
                                  <label for="star3"><i class="fa fa-star fs-5" aria-hidden="true"></i></label>
                                  <input type="radio" id="star2" name="rating" value="2" onclick="rate(2)">
                                  <label for="star2"><i class="fa fa-star fs-5" aria-hidden="true"></i></label>
                                  <input type="radio" id="star1" name="rating" value="1" onclick="rate(1)">
                                  <label for="star1"><i class="fa fa-star fs-5" aria-hidden="true"></i></label>
                                </div>
                              </div>
                              <button type="submit" class="btn btn-outline-light dark-blue-bg">Submit</button>
                            </form>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                          <div class="Agent-card border-2 p-3 text-center " >
                            <div class="img-prof">
                              <div class="image-wrapper">
                                <img src="/assets/img/team/2.jpg" alt="Your Image">
                              </div>
                            </div>  
                            
                            <h2 class="fs-5 dark-blue-color fw-bold pb-2">Dr. John Smith</h2>
                            <h3 class="fs-6 fw-bold pb-0">Real estate agent</h3>
                            <div class="star m-0 p-0 text-warning  fs-7">
                              <i class="fa fa-star text-warning " aria-hidden="true"></i>
                              <i class="fa fa-star text-warning " aria-hidden="true"></i>
                              <i class="fa fa-star text-warning " aria-hidden="true"></i>
                              <i class="fa fa-star-half-stroke text-warning " aria-hidden="true"></i>
                              <i class="fa fa-star star-null " aria-hidden="true"></i>
                            </div>
                              <p class="fs-6 text-secondary px-3 pb-2">
                                Massa tempor nec feugiat nisl pretium. 
                                Egestas fringilla phasellus faucibus scelerisque eleifend 
                              </p>
                              <div class="row m-0">
                                <div class="col fs-5 light-blue-cl mb-2">
                                  <i class="fa fa-phone px-2" aria-hidden="true"></i>
                                  <i class="fa fa-user px-2" aria-hidden="true"></i>
                                  <i class="fa fa-envelope px-2" aria-hidden="true"></i>
                                </div>
                              </div>
                        </div>
                          <div class="Owner-card border-2 p-3 text-center mt-5" >
                              <div class="img-prof">
                                <div class="image-wrapper">
                                  <img src="/assets/img/team/2.jpg" alt="Your Image">
                                </div>
                              </div>  
                              
                              <h2 class="fs-5 dark-blue-color fw-bold pb-2">Dr. John Smith</h2>
                              <h3 class="fs-6 fw-bold pb-0">owner</h3>
                              <div class="star m-0 p-0 text-warning  fs-7">
                                <i class="fa fa-star text-warning " aria-hidden="true"></i>
                                <i class="fa fa-star text-warning " aria-hidden="true"></i>
                                <i class="fa fa-star text-warning " aria-hidden="true"></i>
                                <i class="fa fa-star-half-stroke text-warning " aria-hidden="true"></i>
                                <i class="fa fa-star star-null " aria-hidden="true"></i>
                              </div>
                                <p class="fs-6 text-secondary px-3 pb-2">
                                  Massa tempor nec feugiat nisl pretium. 
                                  Egestas fringilla phasellus faucibus scelerisque eleifend 
                                </p>
                                <div class="row m-0">
                                  <div class="col fs-5 light-blue-cl mb-2">
                                    <i class="fa fa-phone px-2" aria-hidden="true"></i>
                                    <i class="fa fa-user px-2" aria-hidden="true"></i>
                                    <i class="fa fa-envelope px-2" aria-hidden="true"></i>
                                  </div>
                                </div> 
                          </div>
<!-- Featured Agent -->
                          <div class="PD-agent-list shadow-sm p-3 mt-5" >
                            <h2 class="fs-4 fw-bold py-1 px-4 br-left mb-5">Featured Agents</h2>
                              <div class="PD-scroll">
                                <div class="container p-1 shadow-sm position-relative">
                                  </div>
                              </div>
                            
                        </div>
<!--End Featured Agent -->

<!-- Featured Property -->

                        <div class="PD-agent-list shadow-sm p-3 mt-5" >
                          <h2 class="fs-4 fw-bold py-1 px-4 br-left mb-5">Featured Propertyies</h2>
                            <div class="PD-scroll">
                              <div class="card w-100 position-relative shadow-lg" >
                                
                              </div>
                            </div>
                          
                      </div>
<!-- End Featured Agent -->
                        </div>
                      </div>
                  </div>
                </div>
            </div>
 </div>
 {% include 'base/contact.html' %}
 {% endblock content %}