{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'base/nav.html' %}
{% include 'base/scrolled-up.html' %}
<!-- Start Banner-->
<div class="head-title text-center py-5 " id="up-section">
  <h1 class="fs-2 fw-bold  dark-blue-color">
    Sale Properties Listing
  </h1>
  <span></span>
</div>
<!-- End Banner-->

<!-- Start SearchArea-->

<!-- End SearchArea -->
<!-- Start PropertyList Body-->
<div class="divBody mt-2 mb-5">
  <div class="row m-0 shadow-sm">


  </div>
</div>
<!-- End PropertyList Body-->
{% include 'base/contact.html' %}
  {% endblock content %}