{% extends './base.html' %}
{% load static %}
{% block content %}
<!-- Start Main Content -->
<section id="content-wrapper">
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-10 col-lg-9 col-md-8 m-auto">
                    <div class="row pt-md-5 mt-mb-2 mb-5">
                        <div class="col-lg-3 col-md-6 p-2">
                            <!-- card -->
                            <div class="card card-common">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="text-secondary">
                                            <h5>Sale</h5>
                                            <h5 class="mt-4">$4000</h5>
                                        </div>
                                        <i class="fa fa-shopping-cart text-warning fa-3x" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer text-secondary text-start">
                                    <a href="#" class="text-decoration-none text-secondary">
                                        <i class="fas fa-sync me-3"></i>
                                    </a>
                                    <span>Update</span>
                                </div>
                            </div>
                            <!-- end of card -->

                        </div>
                        <div class="col-lg-3 col-md-6 p-2">
                            <!-- card -->
                            <div class="card card-common">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="text-secondary">
                                            <h5>Buy</h5>
                                            <h5 class="mt-4">$2500</h5>
                                        </div>
                                        <i class="fa fa-money-bill text-success fa-3x" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer text-secondary text-start">
                                    <a href="#" class="text-decoration-none text-secondary">
                                        <i class="fas fa-sync me-3"></i>
                                    </a>
                                    <span>Update</span>
                                </div>
                            </div>
                            <!-- end of card -->

                        </div>
                        <div class="col-lg-3 col-md-6 p-2">
                            <!-- card -->
                            <div class="card card-common">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="text-secondary">
                                            <h5>Customer</h5>
                                            <h5 class="mt-4">100</h5>
                                        </div>
                                        <i class="fa fa-users text-primary fa-3x" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer text-secondary text-start">
                                    <a href="#" class="text-decoration-none text-secondary">
                                        <i class="fas fa-sync me-3"></i>
                                    </a>
                                    <span>Update</span>
                                </div>
                            </div>
                            <!-- end of card -->

                        </div>
                        <div class="col-lg-3 col-md-6 p-2">
                            <!-- card -->
                            <div class="card card-common">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="text-secondary">
                                            <h5>View</h5>
                                            <h5 class="mt-4">200</h5>
                                        </div>
                                        <i class="fa fa-chart-line text-warning fa-3x" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer text-secondary text-start">
                                    <a href="#" class="text-decoration-none text-secondary">
                                        <i class="fas fa-sync me-3"></i>
                                    </a>
                                    <span>Update</span>
                                </div>
                            </div>
                            <!-- end of card -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of cards -->
</section>
<!-- End Main Content -->
<div class="col-12 mt-3">
    <h4 class="mb-4 text-muted">Recently Message</h4>
    <!-- activities card -->
    {% for i in message %}
        <div class="card">
            <div class="card-header">
                <button class="btn btn-block btn-light text-start" data-bs-toggle="collapse"
                    data-bs-target="#collapse1">
                    <img src="{{user.profile_image.url}}" alt="" class="me-1 rounded"
                        style="width:50px ;height: 50px;">
                    {{i.fullname}} recently added a conversation
                </button>
            </div>
                <div class="card-body p-2">
                    {{i.message}}
                </div>
                <div class="card-footer ps-3 text-muted d-flex justify-content-between">
                   <p>Phone Number: {{i.phone}}</p>
                   <p>Service : {{i.service}}</p>
                   <p>Propety Type : {{i.propType}}</p>
                </div>
        </div>
        {% endfor %}
    <!-- end of activities card -->
</div>
{% include './base/footer.html' %}
{% endblock content %}