{% extends './base.html' %}
{% load static %}
{% block content %}
<section id="content-wrapper">
    <div class="container">
        <div class="header-section w-100 text-center border-bottom">
            <h2 class="p-5">Message Inbox</h2>
        </div>
        
        <div class="col-12 mt-3">
            <h4 class="mb-4 text-muted">Recently Message</h4>
            <!-- activities card -->
            {% for i in message %}
                <div class="card">
                    <div class="card-header">
                        <button class="btn btn-block btn-light text-start" data-bs-toggle="collapse"
                            data-bs-target="#collapse1">
                            <img src="{{user.profile_image.url}}" alt="" class="me-1 rounded"
                                style="width:50px ;height: 50px;">
                            {{i.fullname}} recently added a conversation
                        </button>
                    </div>
                        <div class="card-body p-2">
                            {{i.message}}
                        </div>
                        <div class="card-footer ps-3 text-muted d-flex justify-content-between">
                           <p>Phone Number: {{i.phone}}</p>
                           <p>Service : {{i.service}}</p>
                           <p>Propety Type : {{i.propType}}</p>
                        </div>
                </div>
                {% endfor %}
            <!-- end of activities card -->
        </div>
    </div>
</section>
{% include './base/footer.html' %}
{% endblock content %}
