<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/assets/Bootstrap/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/72f6db3b53.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/CSS/dashboard.css">
    <link rel="stylesheet" href="/assets/CSS/csstest.css">
    
</head>
<body>
    <a href="#up-section">
        <div class="up fixed-bottom d-flex align-items-center bg-dark bg-opacity-75 shadow-lg text-center">
          <i class="fa fa-arrow-up w-100 fs-5 fw-bold text-light" aria-hidden="true"></i>
        </div>
      </a>
      <div id="up-section"></div>
    <div id="wrapper">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <h2>Muzzomo</h2>
          </div>
          <ul class="sidebar-nav">
            <li class="">
              <a href="Dashboard.html"><i class="fa fa-home"></i>Home</a>
            </li>
            <li>
              <a href="PropertyListing.html"><i class="fa fa-list"></i>Listing</a>
            </li>
            <li>
              <a href="AddListing.html"><i class="fa fa-address-book"></i>Add Listing</a>
            </li>
            <li class="active">
                <a href="Wishlist.html"><i class="fa fa-heart"></i>Wishlist</a>
              </li>
              <li>
                <a href="profile.html"><i class="fa fa-user" aria-hidden="true"></i>Profile</a>
              </li>
              <li>
                <a href="message.html"><i class="fa fa-message" aria-hidden="true"></i>Message</a>
              </li>
              <li>
                <a href="../index.html"><i class="fa fa-sign-out" aria-hidden="true"></i>Signout</a>
              </li>
          </ul>
        </aside>
      
        <div id="navbar-wrapper">
          <nav class="navbar navbar-inverse" >
            <div class="container-fluid">
              <div class="navbar-header">
                <a href="#" class="navbar-brand" id="sidebar-toggle"><i class="fa fa-bars"></i></a>
              </div>
            </div>
          </nav>
        </div>
        <section id="content-wrapper">
    <div class="head-title text-center py-5 mt-5 border-bottom">
        <h1 class="fs-2 fw-bold  dark-blue-color">
          Wish List
        </h1>
        <span></span>
    </div>
    <div class="wishlist sec-m">
        <div class="row mt-2 p-2">
  
    <div class="col-lg-4 col-md-6 col-sm-12 text-center shadow p-3 position-relative">
            <img src="/assets/img/products/backbone-visuals-L4iRkKL5dng-unsplash.jpg" class="w-100 rounded"
         
            alt="">
        <img src="/assets/img/team/3.jpg"width='40px' height="40px" alt="" class="border-r-50 right-top m-4">
    </div>
    <div class="col-lg-8 col-md-6 col-sm-12 p-2 shadow">
        <div class="container">
            <h3 class="fw-bold light-blue-cl text-shadow pt-5 pb-3">
                For Rent
            </h3>
            <h5 class="fw-bold">John Smith</h5>
            <div class="star px-0 text-warning  fs-7">
                <i class="fa fa-star text-warning " aria-hidden="true"></i>
                <i class="fa fa-star text-warning " aria-hidden="true"></i>
                <i class="fa fa-star text-warning " aria-hidden="true"></i>
                <i class="fa fa-star-half-stroke text-warning " aria-hidden="true"></i>
                <i class="fa fa-star star-null " aria-hidden="true"></i>
                ( <span>35</span> <span>views</span> )
            </div>
            <p class="fs-7 text-seconadry">
                Massa tempor nec feugiat nisl pretium. Egestas fringilla phasellus faucibus scelerisque 
                eleifend donec PortaMassa tempor nec feugiat nisl pretium. Egestas fringilla phasellus 
                faucibus scelerisque eleifend donec PortaMassa tempor nec feugiat nisl pretium. Egestas 
                fringilla phasellus faucibus scelerisque eleifend donec PortaMassa tempor nec feugiat 
            </p>
             <button class="btn btn-info light-blue-cl px-5 text-light">Property detial</button>
             <button class="btn btn-danger px-5 text-light">delete</button>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 text-center shadow p-3 position-relative">
        <img src="/assets/img/products/backbone-visuals-L4iRkKL5dng-unsplash.jpg" class="w-100 rounded"
     
        alt="">
    <img src="/assets/img/team/3.jpg"width='40px' height="40px" alt="" class="border-r-50 right-top m-4">
</div>
<div class="col-lg-8 col-md-6 col-sm-12 p-2 shadow">
    <div class="container">
        <h3 class="fw-bold light-blue-cl text-shadow pt-5 pb-3">
            For Rent
        </h3>
        <h5 class="fw-bold">John Smith</h5>
        <div class="star px-0 text-warning  fs-7">
            <i class="fa fa-star text-warning " aria-hidden="true"></i>
            <i class="fa fa-star text-warning " aria-hidden="true"></i>
            <i class="fa fa-star text-warning " aria-hidden="true"></i>
            <i class="fa fa-star-half-stroke text-warning " aria-hidden="true"></i>
            <i class="fa fa-star star-null " aria-hidden="true"></i>
            ( <span>35</span> <span>views</span> )
        </div>
        <p class="fs-7 text-seconadry">
            Massa tempor nec feugiat nisl pretium. Egestas fringilla phasellus faucibus scelerisque 
            eleifend donec PortaMassa tempor nec feugiat nisl pretium. Egestas fringilla phasellus 
            faucibus scelerisque eleifend donec PortaMassa tempor nec feugiat nisl pretium. Egestas 
            fringilla phasellus faucibus scelerisque eleifend donec PortaMassa tempor nec feugiat 
        </p>
         <button class="btn btn-info light-blue-cl px-5 text-light">Property detial</button>
         <button class="btn btn-danger px-5 text-light">delete</button>
    </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 text-center shadow p-3 position-relative">
    <img src="/assets/img/products/backbone-visuals-L4iRkKL5dng-unsplash.jpg" class="w-100 rounded"
 
    alt="">
<img src="/assets/img/team/3.jpg"width='40px' height="40px" alt="" class="border-r-50 right-top m-4">
</div>
<div class="col-lg-8 col-md-6 col-sm-12 p-2 shadow">
<div class="container">
    <h3 class="fw-bold light-blue-cl text-shadow pt-5 pb-3">
        For Rent
    </h3>
    <h5 class="fw-bold">John Smith</h5>
    <div class="star px-0 text-warning  fs-7">
        <i class="fa fa-star text-warning " aria-hidden="true"></i>
        <i class="fa fa-star text-warning " aria-hidden="true"></i>
        <i class="fa fa-star text-warning " aria-hidden="true"></i>
        <i class="fa fa-star-half-stroke text-warning " aria-hidden="true"></i>
        <i class="fa fa-star star-null " aria-hidden="true"></i>
        ( <span>35</span> <span>views</span> )
    </div>
    <p class="fs-7 text-seconadry">
        Massa tempor nec feugiat nisl pretium. Egestas fringilla phasellus faucibus scelerisque 
        eleifend donec PortaMassa tempor nec feugiat nisl pretium. Egestas fringilla phasellus 
        faucibus scelerisque eleifend donec PortaMassa tempor nec feugiat nisl pretium. Egestas 
        fringilla phasellus faucibus scelerisque eleifend donec PortaMassa tempor nec feugiat 
    </p>
     <button class="btn btn-info light-blue-cl px-5 text-light">Property detial</button>
     <button class="btn btn-danger px-5 text-light">delete</button>
</div>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 text-center shadow p-3 position-relative">
    <img src="/assets/img/products/backbone-visuals-L4iRkKL5dng-unsplash.jpg" class="w-100 rounded"
 
    alt="">
<img src="/assets/img/team/3.jpg"width='40px' height="40px" alt="" class="border-r-50 right-top m-4">
</div>
<div class="col-lg-8 col-md-6 col-sm-12 p-2 shadow">
<div class="container">
    <h3 class="fw-bold light-blue-cl text-shadow pt-5 pb-3">
        For Rent
    </h3>
    <h5 class="fw-bold">John Smith</h5>
    <div class="star px-0 text-warning  fs-7">
        <i class="fa fa-star text-warning " aria-hidden="true"></i>
        <i class="fa fa-star text-warning " aria-hidden="true"></i>
        <i class="fa fa-star text-warning " aria-hidden="true"></i>
        <i class="fa fa-star-half-stroke text-warning " aria-hidden="true"></i>
        <i class="fa fa-star star-null " aria-hidden="true"></i>
        ( <span>35</span> <span>views</span> )
    </div>
    <p class="fs-7 text-seconadry">
        Massa tempor nec feugiat nisl pretium. Egestas fringilla phasellus faucibus scelerisque 
        eleifend donec PortaMassa tempor nec feugiat nisl pretium. Egestas fringilla phasellus 
        faucibus scelerisque eleifend donec PortaMassa tempor nec feugiat nisl pretium. Egestas 
        fringilla phasellus faucibus scelerisque eleifend donec PortaMassa tempor nec feugiat 
    </p>
     <button class="btn btn-info light-blue-cl px-5 text-light">Property detial</button>
     <button class="btn btn-danger px-5 text-light">delete</button>
</div>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 text-center shadow p-3 position-relative">
    <img src="/assets/img/products/backbone-visuals-L4iRkKL5dng-unsplash.jpg" class="w-100 rounded"
 
    alt="">
<img src="/assets/img/team/3.jpg"width='40px' height="40px" alt="" class="border-r-50 right-top m-4">
</div>
<div class="col-lg-8 col-md-6 col-sm-12 p-2 shadow">
<div class="container">
    <h3 class="fw-bold light-blue-cl text-shadow pt-5 pb-3">
        For Rent
    </h3>
    <h5 class="fw-bold">John Smith</h5>
    <div class="star px-0 text-warning  fs-7">
        <i class="fa fa-star text-warning " aria-hidden="true"></i>
        <i class="fa fa-star text-warning " aria-hidden="true"></i>
        <i class="fa fa-star text-warning " aria-hidden="true"></i>
        <i class="fa fa-star-half-stroke text-warning " aria-hidden="true"></i>
        <i class="fa fa-star star-null " aria-hidden="true"></i>
        ( <span>35</span> <span>views</span> )
    </div>
    <p class="fs-7 text-seconadry">
        Massa tempor nec feugiat nisl pretium. Egestas fringilla phasellus faucibus scelerisque 
        eleifend donec PortaMassa tempor nec feugiat nisl pretium. Egestas fringilla phasellus 
        faucibus scelerisque eleifend donec PortaMassa tempor nec feugiat nisl pretium. Egestas 
        fringilla phasellus faucibus scelerisque eleifend donec PortaMassa tempor nec feugiat 
    </p>
     <button class="btn btn-info light-blue-cl px-5 text-light">Property detial</button>
     <button class="btn btn-danger px-5 text-light">delete</button>
</div>
</div>

<div class="col-lg-4 col-md-6 col-sm-12 text-center shadow p-3 position-relative">
    <img src="/assets/img/products/backbone-visuals-L4iRkKL5dng-unsplash.jpg" class="w-100 rounded"
 
    alt="">
<img src="/assets/img/team/3.jpg"width='40px' height="40px" alt="" class="border-r-50 right-top m-4">
</div>
<div class="col-lg-8 col-md-6 col-sm-12 p-2 shadow">
<div class="container">
    <h3 class="fw-bold light-blue-cl text-shadow pt-5 pb-3">
        For Rent
    </h3>
    <h5 class="fw-bold">John Smith</h5>
    <div class="star px-0 text-warning  fs-7">
        <i class="fa fa-star text-warning " aria-hidden="true"></i>
        <i class="fa fa-star text-warning " aria-hidden="true"></i>
        <i class="fa fa-star text-warning " aria-hidden="true"></i>
        <i class="fa fa-star-half-stroke text-warning " aria-hidden="true"></i>
        <i class="fa fa-star star-null " aria-hidden="true"></i>
        ( <span>35</span> <span>views</span> )
    </div>
    <p class="fs-7 text-seconadry">
        Massa tempor nec feugiat nisl pretium. Egestas fringilla phasellus faucibus scelerisque 
        eleifend donec PortaMassa tempor nec feugiat nisl pretium. Egestas fringilla phasellus 
        faucibus scelerisque eleifend donec PortaMassa tempor nec feugiat nisl pretium. Egestas 
        fringilla phasellus faucibus scelerisque eleifend donec PortaMassa tempor nec feugiat 
    </p>
     <button class="btn btn-info light-blue-cl px-5 text-light">Property detial</button>
     <button class="btn btn-danger px-5 text-light">delete</button>
</div>
</div>
  
        </div>
       
    </div>
</section>
    </div>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>