{% extends './base.html' %}
{% load static %}
{% block content %}
        <section id="content-wrapper">
    <div class="head-title text-center py-5 mt-5 border-bottom">
        <h1 class="fs-2 fw-bold  dark-blue-color">
          Wish List
        </h1>
        <span></span>
    </div>
    <div class="wishlist sec-m">
        <div class="row mt-2 p-2">
  
    <div class="col-lg-4 col-md-6 col-sm-12 text-center shadow p-3 position-relative">
            <img src="/assets/img/products/backbone-visuals-L4iRkKL5dng-unsplash.jpg" class="w-100 rounded"
         
            alt="">
        <img src="/assets/img/team/3.jpg"width='40px' height="40px" alt="" class="border-r-50 right-top m-4">
    </div>
        <div class="col-lg-8 col-md-6 col-sm-12 p-2 shadow">
        <div class="container">
            <h3 class="fw-bold light-blue-cl text-shadow pt-5 pb-3">
                For Rent
            </h3>
            <h5 class="fw-bold">John Smith</h5>
            <div class="star px-0 text-warning  fs-7">
                <i class="fa fa-star text-warning " aria-hidden="true"></i>
                <i class="fa fa-star text-warning " aria-hidden="true"></i>
                <i class="fa fa-star text-warning " aria-hidden="true"></i>
                <i class="fa fa-star-half-stroke text-warning " aria-hidden="true"></i>
                <i class="fa fa-star star-null " aria-hidden="true"></i>
                ( <span>35</span> <span>views</span> )
            </div>
            <p class="fs-7 text-seconadry">
                Massa tempor nec feugiat nisl pretium. Egestas fringilla phasellus faucibus scelerisque 
                eleifend donec PortaMassa tempor nec feugiat nisl pretium. Egestas fringilla phasellus 
                faucibus scelerisque eleifend donec PortaMassa tempor nec feugiat nisl pretium. Egestas 
                fringilla phasellus faucibus scelerisque eleifend donec PortaMassa tempor nec feugiat 
            </p>
             <button class="btn btn-info light-blue-cl px-5 text-light">Property detial</button>
             <button class="btn btn-danger px-5 text-light">delete</button>
        </div>
     </div>  
        </div>
       
    </div>
</section>
{% include './base/footer.html' %}
{% endblock content %}
